@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Reset css */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar */
nav {
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    background-color: black;
}

nav .item {
    height: 100%;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

nav .item a {
    color: white;
    text-decoration: none;
}

nav .item img {
    height: 100%;
}


.active {
    font-weight: bold;
}
/* end navbar */

main {
    flex-grow: 1;
    margin: 0 100px;
}

/* footer */
footer {
    margin-top: auto;
    height: 100px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
/* end footer */